[submodule "boards"]
	path = boards
	;url = https://github.com/rzeldent/platformio-espressif32-sunton/releases/tag/2.0.7
	url = https://github.com/rzeldent/platformio-espressif32-sunton/tree/release/2.0.9

; cd boards
; git checkout 2.0.9
; somehow worked
